.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 22px -268px 0 268px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px -58px 0 58px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 294px auto 60px;
  padding: 34px 72px 36px 71px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: -152px;
    margin-left: 152px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    font-weight: normal;
  }
}