.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 37px 806px 0 29px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 806px 0 29px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 815px 0 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -21px 570px 60px 265px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 635px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 635px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 635px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -24px;
    margin-right: 376px;
    margin-left: 259px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 415px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 177px;
    margin-left: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 235px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 235px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 235px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 20px;
    margin-left: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 35px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -165px;
    margin-left: 200px;
  }
}